# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments & virtualenvs
.env
.venv
env/
venv/
ENV/

# Databases & logs
*.db
*.db-journal
*.db-wal
*.db-shm
*.log

# Raw HTML storage (fetched pages)
storage/

# Pytest / Coverage caches
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# IDE settings
.vscode/
.idea/
.project
.pydevproject
.settings/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Documentation not to be pushed to GitHub
architecture_specification.md
walkthrough.md

